<div id="timer_form_container">
<%= render partial: "time_entries/start_timer_form", locals: { hidden: @active_time_entry.present? } %>
<% if @active_time_entry.present? %>
  <%= render partial: "time_entries/stop_timer_form", locals: { time_entry: @active_time_entry } %>
<% end %>
</div>

<%= link_to "Create manually", new_time_entry_path %>

<div id="time_entries_list">
  <%= render partial: "time_entries/list_item", collection: @time_entries_recorded_today, as: :time_entry %>
</div>