<div id="<%= dom_id(time_entry) %>">
  <div><%= time_entry.description %></div>
  <div>
    <span>start time:</span>
    <span><%= time_entry.start_time %></span>
  </div>
  <div>
    <span>end time:</span>
    <span><%= time_entry.end_time %></span>
  </div>
</div>