<div class="default-form">
  <%= form_with model: @time_entry, local: true do |form| %>
    <%= render partial: "form", object: form %>

    <%= form.submit "Update", class: "btn btn-primary btn-md btn-block" %>
  <% end %>

  <%= render partial: 'commons/errors', object: @time_entry.errors.full_messages %>
</div>